body{
    margin: 0;
    text-align: center;
    background-color: #F7F6F2;
    font-family: 'Merriweather', serif;
    font-size: 2em;
    color: #40514E;
}

h1{
    margin-top: 0 ;
    font-size: 5.625rem;/* 16px = 100% =1em 90px =5.625em */
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    line-height: 2;
    }

p{
    color: #2D2424;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    
}


h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;

}
hr{
    border: dotted #11999E 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.top-container{
    background-color: #CEE5D0;
   position: relative;
   padding-top: 100px;
   
}
/* .middle-container{
    width: 200px;
    height: 200px;
    background-color: #7EB5A6;
    

}*/

.bottom-container{
   background-color: #66BFBF;
   padding: 50px 0 20px;
   
    
}

.top_cloud{
    position: absolute;
    bottom: 650px;
    right: 500px;
     

}

.middle_cloud{
    position: absolute;
    left: 500px;
    bottom: 350px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}

/* .profile{
    width: 25%;
    border-radius: 20%;
    box-sizing: border-box;
} */
.web{
    width: 25%;
    float: left;
    margin-right: 30px;
    /* clear is just take text from like float.. float is used  wrapping  */
    

}

.responsive{
    width: 25%;
    float: right;
    margin-left: 30px;
    
}

.intro{
    width: 30%;
    margin: auto;
}

.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3d799e;
    background-image: -webkit-linear-gradient(top, #3d799e, #346bd9);
    background-image: -moz-linear-gradient(top, #3d799e, #346bd9);
    background-image: -ms-linear-gradient(top, #3d799e, #346bd9);
    background-image: -o-linear-gradient(top, #3d799e, #346bd9);
    background-image: linear-gradient(to bottom, #3d799e, #346bd9);
    text-decoration: none;
  }
  a{
      color: #11999E;
      font-family: 'Montserrat', sans-serif;
      margin: 10px 20px;
      text-decoration: none;
    

  }

  a:hover{
      color: #EAF6F6;
  }

  .copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }
.profile img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 20px 0;
}

/* mobile media queries */

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) {

}

/* media queries for tablet */
username:after {
    content:"Insert your user name";
    }
    @media screen and (max-width: 1024px) {
    .username:before {
    content:"User name";
    }
    }
    @media screen and (man-width: 480px) {
    .username:before {
    content:"";
    }
    }

/*  media queries for desktop*/
@media only screen {
and (min-device-width : 768px);
and (max-device-width : 1024px);
}